<style>
    .dataTable > thead > tr > th[class*="sort"]:before,
    .dataTable > thead > tr > th[class*="sort"]:after {
        content: "" !important;
    }

    .ui-widget-content
    {
        background:none
    }

    .ui-widget-header{
        background:none
    }
    hr:not([size]) {
        height: 0px;
    }

    #btnu {
        background: #1F3BB3;
        color: white;
        padding: 7px;
        font-size: 12px;
        text-decoration: none;
        border-radius: 25px
    }

        #btnu:hover {
            color: white
        }

    .table th, .table td {
        vertical-align: middle;
        line-height: 1;
        white-space: nowrap;
        padding: 1.125rem 1.375rem;
        font-size: 11px;
        padding: 3px;
        text-align: center;
        font-weight: bold
    }
</style>

<div class="col-lg-12 grid-margin stretch-card" style="margin-top:-36px">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <span style="color: #76bf70">Buddy</span> Place
            </h4>
            <p class="card-description">
                <a class="btn btn-default" id="btnu" href='@Url.Action("BuddyCreate", "Buddy", new { Area = "Admin" })'><i class="fa fa-plus" style="color:white"></i> Add Buddy</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped" id="buddyTable">
                    <thead>
                        <tr>
                            <th>Buddy </th>
                            <th>Buddy Name</th>
                            <th>Created Date</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@*<div class="container">

        <p style="margin-top: -90px; color: #1F3BB3; font-size: 20px; font-weight: bold;"><span style="color: #76bf70">Buddy</span> Place</p>
        <br />
        <a class="btn btn-default" id="btnu" onclick="submission('@Url.Action("BuddyCreate", "Buddy", new { Area = "Admin" })')"><i class="fa fa-plus" style="color:white"></i> Add Buddy</a>
        <div style="margin-top:22px">
            <table id="buddyTable1" class="table table-striped">
                <thead>
                    <tr>
                        <th>Buddy </th>
                        <th>Buddy Name</th>
                        <th>Created Date</th>
                        <th>Edit Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>*@

@section scripts
        {

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.min.css" />

    <script type="text/javascript">
        var submitted, datatable;
        $(document).ready(function () {
            datatable = $('#buddyTable').DataTable({
                "autoWidth": false,
                "ajax": {
                    'url': "/Admin/Buddy/BuddyListing",
                    "type": "GET",
                    "datatype": "json"

                },
                "columns": [

                    {
                        "data": "buddyPicture",
                        "render": function (data, type, row) {
                            if (data == null) {

                                return "<img src='/images/logo.PNG'  class='rounded-circle'  style='width:36px;height:36px;border-radius:100%' />";
                            }
                            else
                                return "<img src='/images/" + data + "'  class='rounded-circle'   style='width:36px;height:36px;border-radius:100%' />";
                        }

                    },
                    { "data": "buddyName" },

                    { "data": "createdDate" },
                    {
                        "data": "id", "render":function (data) {
                            return "<a  href='@Url.Action("BuddyEdit", "Buddy", new { Area = "Admin" })/" + data + "'><i  class='fa fa-pencil'></i> </a><a style='margin-left:20px;color:green' href='@Url.Action("BuddyView", "Buddy", new { Area = "Admin" })/" + data + "'><i  class='fa fa-eye'></i></a><a  style='color:red;font-size:15px;margin-left:20px' onclick=DEl(" + data + ") style='margin-left:0px;color:blue;font-size:10px'><i class='fa fa-trash'></i> </a>"
                         },
                        "orderable": false,
                        "width": "150px",
                        "searchable":false
                    }
                ]
            });
        });


         function DEl(id)
        {
            if (confirm("Hey Buddy, are you sure want to delete your buddy!!"))
            {
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("BuddyDelete", "Buddy", new { Area = "Admin" })/' + id,
                    success: function (data) {
                        alert("deleted");
                        datatable.ajax.reload();
                        if (data.success) {

                            $.notify(data.message, {
                                globalPosition: "topright",
                                className: "success"

                            });
                        }
                    }
                });
            }
        }
    </script>

}